<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My College Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style media="screen">
      table{
        border-radius: 20px;
        margin:20px;
      }
    </style>
  </head>
  <body>
    <h1>Colleges</h1>
    <div class="container">
    <table class='table table-striped table-hover table-dark'>
      <tr>
        <th>College</th>
        <th>Principal</th>
        <th>Location</th>
      </tr>
      {% for data in CK %}
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.principal}}</td>
        <td>{{data.location}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
    <h1>Students</h1>
    <div class="container">
    <table class='table table-striped table-hover table-dark'>
      <tr>
        <th>Name</th>
        <th>College</th>
        <th>Branch</th>
        <th>Semester</th>
      </tr>
      {% for data in SK %}
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.college}}</td>
        <td>{{data.branch}}</td>
        <td>{{data.semester}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  </body>
</html>
