<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My College Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style media="screen">
      table{
        border-radius: 20px;
        margin:20px;
      }
      .myimage{
        width: 100%;
        height: 210px;
      }
      .xyz{
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'college' %}">College</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'student' %}">Student</a></li>
          </ul>
        </nav>
    </div>
    <div class="container">
      <img class="myimage" src="{% static 'images/acad3.png' %}" alt="Not Found">
    </div>

    <div class="container">
    <h1>Colleges</h1>
    {% for data in CK %}
    <div class="card xyz" style="width: 18rem;">
        <img src="{{data.collegeimage.url}}" class="card-img-top" alt="Not Found">
          <div class="card-body">
              <h5 class="card-title">{{data.name}}</h5>
              <p class="card-text">{{data.principal}}.</p>
              <a href="#" class="btn btn-primary">{{data.location}}</a>
          </div>
      </div>
      {% endfor %}
  </div>
</body>
</html>
