<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <label for="">Roll</label>
      <input type="text" name="" value=""><br>
      <label for="">Name</label>
      <input type="text" name="" value=""><br>
      <label for="">Branch</label>
      <input type="text" name="" value=""><br>
      <input type="submit" name="" value="">
    </form>
  </body>
</html>
