<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      table{
        border: solid 5px red;
        border-radius: 30px;
        width: 100%;
      }
      tr{
        border-collapse: collapse;
      }
      th,td{
        text-align: center;
        font-size: 30px;
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <h1>Hello WelCome to Boy Home Page</h1>
    <table border="solid 5px">
      <tr>
        <th>Roll</th>
        <th>Name</th>
        <th>Branch</th>
      </tr>
      {% for data in Key %}
        <tr>
          <td>{{data.roll}}</td>
          <td>{{data.name}}</td>
          <td>{{data.branch}}</td>
        </tr>
      {% endfor %}
    </table>

     </body>
</html>
